.App {

}

.main-header {
  color: #C7C7C7;
  display: flex;
  width: 1024px;
  max-width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  margin: 0 auto;
  font-family: 'Rampart One', cursive;
  font-weight: 700;
}

.main-header > h2 {
  font-size: 2rem;
}

.main-header__search {
  width: 50vw;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 12px;
  
}

.main-header__search input {
  padding: 0.6rem 1rem;
  width: Calc(100% - 3rem);
  border: none;
  background: transparent;
  color: #C7C7C7;
}

.main-header__search input:focus {
  outline: none
}

.main-header__search input::placeholder {
  color: #C7C7C7;
}

.main-header__search button {
  width: 3rem;
  padding: 0.6rem 1rem;
  background: transparent;
  color: #C7C7C7;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.main {

}

.main-overview {
  width: 1024px;
  max-width: 85%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.main-overview > h1 {
  font-size: 3rem;
}

.main-voice {
  display: flex;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: 16px;
  cursor: pointer;
}

.main-body {
  border-top: 1px solid rgba(255,255,255,.2);
}

.main-body__item {
  width: 1024px;
  max-width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 80%;
}

.main-item__name {
  padding: 1rem;
}

.main-item__name p {
  font-size: 1.2rem;
}

.main-item__definitions {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 1px solid rgba(255,255,255,.1)
}

.main-item__definition {
  padding: 1rem;

}

.main-item__definition h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.main-item__definition > p {
  margin: 1rem 0;
  color: rgba(255,255,255,.3);
}

.synonyms-wrap {
  display: flex;
  /* justify-content: space-between; */
  
  
}

.synonyms {
  width: 80%;
  display: flex; 
  margin-left: 1rem;
  flex-wrap: wrap;
}

.synonyms > p {
  color: #8e9bc0;
  margin-left: 4px;
  cursor: pointer;
}


@media (max-width: 640px) {
  .main-overview {
    max-width: 95%;
  }
  
  .main-header {
    max-width: 95%;
  }


  .main-overview > h1 {
    font-size: 2rem;
  }

  .main-voice {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .main-body__item {
    max-width: 95%
  }
}

@media (max-width: 400px) {

  .main-overview > h1 {
    font-size: 1.5rem;
  }

  .main-voice {
    padding: 0.5rem 0.7rem;
  }
}
